.dialogs {
    display: grid;
    grid-template-columns: 4fr 10fr;
}



.dialog {
    padding: 10px
}
.dialog img{
    width: 100px;
    border-radius: 10px;
}

.dialog a{
    color:white;
    text-decoration: none;
}

.dialog a.active{
    color: #184e7d;
}
.messages {
}

.message {
    padding: 5px;
    margin: 10px;
    border: 2px solid #68c5e2;
    border-radius: 10px;
}

.input {
    width: 80%;
    border: #68c5e2 solid 2px;
    border-radius: 10px;
    outline: none;
    padding: 5px;
}

.button {
    background: #68c5e2;
    border-radius: 10px;
    padding: 15px;
    border: 0px;
    margin-left: 2px;
}




