.item a {
    color: white;
    text-decoration: none
}

.item a.active {
    color: #184e7d;
}

.nav {
    border: solid 4px #68c5e2;
    background-color: #2990ea;
    width: 220px;
    padding: 15px;
    margin: 20px;
}

